PORT=5000
CORS_ORIGINS=http://localhost:5173,https://doctormayankpareek-nkrw.vercel.app
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=shree_shyam_dental
ADMIN_EMAIL=
ADMIN_PASSWORD=
JWT_SECRET=
GMAIL_USER=
GMAIL_APP_PASSWORD=